{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "printWidth": 90,
  "tabWidth": 2,
  "trailingComma": "es5"
}
