.input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  border-radius: 0;
  padding-bottom: 15px;
  padding-left: 24px;
  color: white;
  font-weight: 500;
  font-size: rem(16px);
  height: rem(42px);

  &::placeholder {
    opacity: 0.5;
  }

  &:focus-within {
    border-bottom: 1px solid var(--mantine-color-mintJelly-6);
  }

  &[data-error] {
    border-bottom: 1px solid #ff6f5b;
  }
}

.error {
  text-align: right;
  color: #ff6f5b;
  font-size: rem(12px);
  font-weight: 500;
}
