.main {
  background-color: var(--mantine-color-mattBlack-6);
}

.author {
  &__container {
    padding-top: 20px;
    position: relative;
    overflow: hidden;

    @media (min-width: $mantine-breakpoint-sm) {
      overflow: visible;
    }

    p {
      color: var(--mantine-color-white);
    }
  }

  &__background {
    max-width: 175px;
    height: 383px;
    margin: 0 auto;

    @media (min-width: $mantine-breakpoint-sm) {
      min-width: 322px;
      height: 600px;
      margin: 0;
      float: right;
      background-color: #242424;
      margin-top: -20px;
      padding-top: 30px;
      padding-right: 30px;
      overflow: hidden;
      position: relative;
    }
  }

  &__content {
    gap: 20px;

    @media (min-width: $mantine-breakpoint-sm) {
      float: right;
    }
  }

  &__name {
    text-align: center;
    font-size: rem(24px);
    font-weight: 700;

    @media (min-width: $mantine-breakpoint-sm) {
      display: none;
    }

    &--tablet {
      font-size: rem(24px);
      font-weight: 700;
      margin-top: 20px;
      margin-left: 16px;
      display: none;

      @media (min-width: $mantine-breakpoint-sm) {
        display: inline;
        margin-left: 0;
        margin-top: -20px;
      }
    }
  }

  &__social-container {
    justify-content: center;
    gap: 20px;
  }
}

.introduction {
  &__container {
    gap: 24px;
    margin-top: 40px;
    align-items: center;
    padding: 0 16px;

    @media (min-width: $mantine-breakpoint-sm) {
      align-items: flex-start;
      position: relative;
      padding-right: 0;
      padding-left: 32px;
      margin-right: -40px;
      overflow: visible;
    }

    p {
      color: var(--mantine-color-white);
      text-align: center;

      @media (min-width: $mantine-breakpoint-sm) {
        text-align: left;
        font-size: rem(18px);
      }
    }
  }

  &__title {
    font-size: rem(40px);
    font-weight: 700;
    line-height: 40px;

    @media (min-width: $mantine-breakpoint-sm) {
      font-size: rem(72px) !important;
      line-height: 72px;
      margin-top: 50px;
    }

    span {
      text-decoration: underline;
      text-decoration-color: var(--mantine-color-mintJelly-6);
    }
  }
}

.skills {
  &__container {
    margin-top: 80px;
    position: relative;
    overflow: hidden;
  }

  &__content-container {
    gap: 24px;
    padding: 40px 0;
    margin: 0 16px;
    border-top: 1px solid var(--mantine-color-white);
    border-bottom: 1px solid var(--mantine-color-white);
    align-items: center;

    @media (min-width: $mantine-breakpoint-sm) {
      border-bottom: none;
      padding: 52px 0;
      margin: 0 32px;
    }
  }

  &__item {
    &-container {
      gap: 1px;

      p {
        color: var(--mantine-color-white);
        text-align: center;

        @media (min-width: $mantine-breakpoint-sm) {
          text-align: left;

          font-size: rem(18px);
        }
      }
    }

    &-skill {
      font-size: rem(32px);
      font-weight: 700;
      line-height: 40px;

      @media (min-width: $mantine-breakpoint-sm) {
        font-size: rem(48px) !important;
        line-height: 56px;
      }
    }
  }
}

.projects {
  &__container {
    margin: 0 16px;
    margin-top: 80px;
    gap: 40px;
  }

  &__header {
    &-container {
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      color: var(--mantine-color-white);
      font-size: rem(40px);
      font-weight: 700;

      @media (min-width: $mantine-breakpoint-sm) {
        font-size: rem(72px) !important;
      }
    }
  }

  &__item-container {
    gap: 20px;
  }

  &__item-text-container {
    gap: 8px;

    p {
      color: var(--mantine-color-white);
    }
  }

  &__item-title {
    font-size: rem(24px);
    font-weight: 700;
  }

  &__item-topics-container {
    gap: 18px;
  }

  &__item-topic {
    font-size: rem(18px);
  }

  &__item-actions-container {
    gap: 30px;
  }
}

.contact {
  &__container {
    margin-top: 80px;
    padding: 60px 0;
    background-color: var(--mantine-color-verifiedBlack-6);
    position: relative;

    @media (min-width: $mantine-breakpoint-sm) {
      padding-bottom: 40px;
    }
  }

  &__form-container {
    gap: 50px;
    margin: 0 16px;

    @media (min-width: $mantine-breakpoint-sm) {
      margin: 0 auto;
      max-width: 445px;
    }
  }

  &__form-text-container {
    gap: 20px;

    p {
      color: var(--mantine-color-white);
      text-align: center;

      @media (min-width: $mantine-breakpoint-sm) {
        font-size: rem(18px);
      }
    }
  }

  &__form-title {
    font-size: rem(40px);
    font-weight: 700;

    @media (min-width: $mantine-breakpoint-sm) {
      font-size: rem(72px) !important;
    }
  }

  &__form-inputs-container {
    gap: 32px;
  }

  &__form-submit {
    align-self: flex-end;
  }

  &__divider {
    margin: 0 16px;
    margin-top: 85px;
    margin-bottom: 40px;
    border-top: 1px solid var(--mantine-color-white);

    @media (min-width: $mantine-breakpoint-sm) {
      margin: 0 32px;
      margin-top: 90px;
      margin-bottom: 30px;
    }
  }

  &__social-container {
    margin: 0 16px;
    gap: 20px;
    flex-direction: column;

    @media (min-width: $mantine-breakpoint-sm) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 32px;
    }
  }

  &__author-name {
    color: var(--mantine-color-white);
    font-size: rem(24px);
    font-weight: 700;
    text-align: center;

    @media (min-width: $mantine-breakpoint-sm) {
      font-size: rem(32px);
    }
  }

  &__social-icons-container {
    justify-content: center;
  }
}
